
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
   .header {
    color:#17202A;
    background-color: #17A589 ;  /* Turqoise */
    padding: 20px 0;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 5px;
  }
  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: right;
    right: 30px;
    

    
  }

  .login {
    justify-content: left;
    left: 30px;

  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
  }